@charset "UTF-8";
body{
	text-align:center;
}

.tittle{
	margin-top:15%;
	margin-bottom:5%;
}

.id{
	margin-bottom:2%;
}

.password{
	margin-bottom:4%;
}

.login input{
	width:7%;
}