<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>RequesterHome</title>
<h1>欢迎加入我们！</h1>
<h2>众包标注系统</h2>

<script type="text/javascript">
function load(){
	var str=window.location.search;
	var label=document.getElementById("nameLabel");
	//location.search是从当前URL的?号开始的字符串
	label.innerText=str.substr(1,str.length()-1);
}

function jumpToRequestCreate(){
	var name=document.getElementById("nameLabel").value;
	location.href="RequestCreate.html?"+name;
}

function jumpToRequestManageCreate(){
	var name=document.getElementById("nameLabel").value;
	location.href="RequestManage.html?"+name;
}
</script>
</head>

<body onload="load()">
<div id="requesterDiv">
<label id="nameLabel"></label>
<label>|</label>
<a href="RequesterLogin.html">登出</a>
<label>|</label>
<a href="ContactUs.html">联系我们</a>
</div>

<div id="buttonDiv">
<button onclick="jumpToRequestCreate()">创建项目</button>
<button onclick="jumpToRequestManage()">项目管理</button>
</div>

</body>
</html>