<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script src="jquery-1.8.2.js" ></script>
<script src="FileSaver.js" charset="utf-8"></script>
<title>RequestCreate</title>
<h1>创建项目：</h1>
<script type="text/javascript">
function load(){
	var str=window.location.search;
	var label=document.getElementById("nameLabel");
	//location.search是从当前URL的?号开始的字符串
	label.innerText=str.substr(1,str.length()-1);
	
	var requesterIDTemp=document.getElementById("nameLabel").value;
	var requesterIDInput=document.getElementById("requesterIDInput");
	requesterIDInput.innerHTML=requesterIDTemp;
}

function returnToRequesterHome(){
	var name=document.getElementById("nameLabel").value;
	location.href="RequesterHome.html?"+name;
}

function uploadPicture(){
	//读取保存图片地址的txt文本
	
	var pathTxt;//保存所有的路径
	var selectedFile=document.getElementById("files").files[0];
	
	var reader=new FileReader();
	reader.readAsText(selectedFile,'gb2312');
	
	reader.onload=function(){
		pathTxt=this.result;
	}
	var pathInput=document.getElementById("pathInput");
	pathInput.innerHTML=pathTxt;
}

function create(){
	//创建项目
	var typeTemp=document.getElementById("typeSelect").value;
	var typeInput=document.getElementById("typeInput");
	typeInput.innerHTML=typeTemp;
	
	//判断是否获取完信息
	var name=document.getElementById("nameInput").value;
	var description=document.getElementById("descriptionInput").value;
	var type=document.getElementById("typeInput").value;
	var point=document.getElementById("pointInput").value;
	var people=document.getElementById("peopleInput").value;
	var path=document.getElementById("pathInput").value;
	
	if((!name.equals(""))&&(!description.equals(""))&&
			(!point.equals(""))&&(!people.equals(""))
			&&(!path.equals(""))){
	            alert(发布成功！);
	            var name=document.getElementById("nameLabel").value;
	            location.href="RequestCreate.html?"+name;
	}
	else
		alert(请完善信息！);
}
</script>
</head>
<body onload="load()">

<div id="requesterDiv">
<label id="nameLabel"></label>
<label>|</label>
<a href="RequesterLogin.html">登出</a>
<label>|</label>
<a href="ContactUs.html">联系我们</a>
</div>

<form name="requestForm" method="post">
<div id="requestCreateDiv">
  <div id="nameDiv">
  <label>任务名称：</label>
  <input type="text" id="nameInput" name="name">
  <label>标注类型：</label>
  <select id="typeSelect">
  <option value="分类标注">分类标注</option>
  <option value="标框标注">标框标注</option>
  <option value="区域标注">区域标注</option>
  </select>
  <input type="text" id="typeInput" name="type" style="display:none">
  </div>
  
  <div id="descriptionDiv">
  <label>任务描述</label>
  <input type="text" id="descriptionInput" name="description">
  </div>
  
  <div id="requestSetupDiv">
  <label>奖励积分/张：</label>
  <input type="number" id="pointInput" name="point">
  <label>分</label>
  
  <label>需要进行标注的人数/张：</label>
  <input type="number" id="peopleInput" name="standard">
  <label>人</label>
  
  <label>上传图片路径</label>
  <input type="file" id="files" onchange="uploadPicture()">
  <input type="text" id="pathInput" name="path" style="display:none">
  <input type="text" id="requesterIDInput" name="requesterID" style="display:none">
  <input type="submit" onclick="create()">
  </div>
</div>
</form>

<button onclick="returnToRequesterHome()">返回</button>

</body>
</html>