body{
background:#ece9e9;
padding:0px;
margin:0px;
color:#444;
}

button{
cursor: pointer;
}

.imagearea{
float: left;
margin-left:5%;
margin-top:2.5%;
width:600px;
height:550px;
background:#fff;
box-shadow: 0 1px 3px rgba(34,25,25,.4);
}

.canvas{
position: absolute;
margin-left:3%;
margin-top:2%;
width:500px;
height:500px;
}

.taskinfo-content{
font-size:120%;
word-wrap: break-word;
}

.taskinfo-point{
margin-top:2%;
margin-left:15%;
font-weight: bold;
color: red;
font-size:150%;
}

.workerinfo{
font-size:200%;
}

.buttonmodel{
width:20%;
height:1%;
padding:2% 5%;
border-radius:10%;
border:0;
font-size:120%;
color:#fff;
}

.button_create{
background: green;
}

.button_undo{
background: red;
}

.button_submit{
background: blue;
}

.button_back{
	background:#00ffff;
}

.block{
display: inline-block;
padding:2% 3%;
float: right;
width:35%;
margin-top:2.5%;
margin-right:5%;
background:#fff;
box-shadow: 0 1px 3px rgba(34,25,25,.4);
}











