@charset "UTF-8";
.chart-worker{
	margin-bottom:8%;
	width:700px;
	height:420px;
}

.chart-requester{
	margin-bottom:8%;
	width:700px;
	height:420px;
}

.chart-task{
	margin-bottom:8%;
	width:700px;
	height:420px;
}