<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.com">
<head>
<meta charset="UTF-8">
<title>adminhome</title>
<link rel="stylesheet" type="text/css" href="../static/style/template2.css" 
th:href="@{style/template2.css}">
<link rel="stylesheet" type="text/css" href="../static/style/adminhome3.css" 
th:href="@{style/adminhome3.css}">
<script type="text/javascript" src="../static/script/echarts.js" 
th:src="@{script/echarts.js}"></script>
<script>
//注释
</script>
<script>
function transfer(map){
	var array=[];
	for(var key in map){
		var object={};
		object.name=key;
		object.value=map[key];
		array.push(object);
	}
	return array;
}
</script>
<script type="text/javascript" th:inline="javascript">
var option_worker = {
    title:{
        text:'当日工人注册人数'
    },
    tooltip:{},
    legend:{
        data:['人数']
    },
    xAxis:{
        data:/*[[${worker_time}]]*/["Android","IOS","PC","Ohter"]
    },
    yAxis:{

    },
    series:[{
        name:'人数',
        type:'line',
        data:/*[[${worker_count}]]*/[500,200,360,100]
    }]
};

var option_requester = {
	    title:{
	        text:'当日发起者注册人数'
	    },
	    tooltip:{},
	    legend:{
	        data:['人数']
	    },
	    xAxis:{
	        data:/*[[${requester_time}]]*/["Android","IOS","PC","Ohter"]
	    },
	    yAxis:{

	    },
	    series:[{
	        name:'人数',
	        type:'line',
	        data:/*[[${requester_count}]]*/[500,200,360,100]
	    }]
	};
	
var option_task = {
	    title : {
	        text: '任务数量随时间变化',
	    },
	    tooltip : {},
	    legend: {
	        data:['总任务数','待完成任务数']
	    },
	    xAxis :  {
	            data : /*[[${alltask_time}]]*/['周一','周二','周三','周四','周五','周六','周日']
	    },
	    yAxis : {},
	    series : [
	        {
	            name:'总任务数',
	            type:'line',
	            data:/*[[${alltask_count}]]*/[11, 11, 15, 13, 12, 13, 10]
	        },
	        {
	            name:'待完成任务数',
	            type:'line',
	            data:/*[[${needtask_count}]]*/[1, -2, 2, 5, 3, 2, 0]
	        }
	    ]
	};
	
var option_accuracy = {
		title : {
	        text: '工人准确度统计',
	        x:'center'
	    },
	    tooltip: {
	        trigger: 'item',
	        formatter: "{a} <br/>{b}: {c} ({d}%)"
	    },
	    legend: {
	        orient: 'vertical',
	        x: 'left',
	        data:/*[[${accuracy_condition}]]*/['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
	    },
	    series: [
	        {
	            name:'准确度',
	            type:'pie',
	            radius: ['50%', '70%'],
	            avoidLabelOverlap: false,
	            label: {
	                normal: {
	                    show: false,
	                    position: 'center'
	                },
	                emphasis: {
	                    show: true,
	                    textStyle: {
	                        fontSize: '30',
	                        fontWeight: 'bold'
	                    }
	                }
	            },
	            labelLine: {
	                normal: {
	                    show: false
	                }
	            },
	            data:transfer(/*[[${accuracy}]]*/[
	                {value:335, name:'直接访问'},
	                {value:310, name:'邮件营销'},
	                {value:274, name:'联盟广告'},
	                {value:235, name:'视频广告'},
	                {value:400, name:'搜索引擎'}
	            ])
	        }
	    ]
	};

var option_credit = {
		title : {
	        text: '工人信誉度统计',
	        x:'center'
	    },
	    tooltip: {
	        trigger: 'item',
	        formatter: "{a} <br/>{b}: {c} ({d}%)"
	    },
	    legend: {
	        orient: 'vertical',
	        x: 'left',
	        data:/*[[${credit_condition}]]*/['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
	    },
	    series: [
	        {
	            name:'信誉度',
	            type:'pie',
	            radius: ['50%', '70%'],
	            avoidLabelOverlap: false,
	            label: {
	                normal: {
	                    show: false,
	                    position: 'center'
	                },
	                emphasis: {
	                    show: true,
	                    textStyle: {
	                        fontSize: '30',
	                        fontWeight: 'bold'
	                    }
	                }
	            },
	            labelLine: {
	                normal: {
	                    show: false
	                }
	            },
	            data:transfer(/*[[${credit}]]*/[
	                {value:335, name:'直接访问'},
	                {value:310, name:'邮件营销'},
	                {value:274, name:'联盟广告'},
	                {value:235, name:'视频广告'},
	                {value:400, name:'搜索引擎'}
	            ])
	        }
	    ]
	};


var option_efficiency = {
		title : {
	        text: '工人效率统计',
	        x:'center'
	    },
	    tooltip: {
	        trigger: 'item',
	        formatter: "{a} <br/>{b}: {c} ({d}%)"
	    },
	    legend: {
	        orient: 'vertical',
	        x: 'left',
	        data:/*[[${efficiency_condition}]]*/['直接访问','邮件营销','联盟广告','视频广告','搜索引擎']
	    },
	    series: [
	        {
	            name:'效率',
	            type:'pie',
	            radius: ['50%', '70%'],
	            avoidLabelOverlap: false,
	            label: {
	                normal: {
	                    show: false,
	                    position: 'center'
	                },
	                emphasis: {
	                    show: true,
	                    textStyle: {
	                        fontSize: '30',
	                        fontWeight: 'bold'
	                    }
	                }
	            },
	            labelLine: {
	                normal: {
	                    show: false
	                }
	            },
	            data:transfer(/*[[${efficiency}]]*/[
	                {value:335, name:'直接访问'},
	                {value:310, name:'邮件营销'},
	                {value:274, name:'联盟广告'},
	                {value:235, name:'视频广告'},
	                {value:400, name:'搜索引擎'}
	            ])
	        }
	    ]
	};


</script>
<script>
window.onload=function(){
	var mychart=null;
	myChart = echarts.init(document.getElementById('chart-worker'));
	myChart.setOption(option_worker);
	myChart = echarts.init(document.getElementById('chart-requester'));
	myChart.setOption(option_requester);
	myChart = echarts.init(document.getElementById('chart-task'));
	myChart.setOption(option_task);
	myChart = echarts.init(document.getElementById('chart-accuracy'));
	myChart.setOption(option_accuracy);
	myChart = echarts.init(document.getElementById('chart-efficiency'));
	myChart.setOption(option_efficiency);
	myChart = echarts.init(document.getElementById('chart-credit'));
	myChart.setOption(option_credit);
}
</script>
</head>
<body>
<div class="navigator">
<div class="navigator-logo">
<a>
<img src="../static/illustrate/logo.png" th:src="@{illustrate/logo.png}">
轻注
</a>
</div>
<div class="navigator-path   _overview">
<a href="adminhome.html" th:href="adminhome">网站概况</a>
</div>
<div class="navigator-path   _worker">
<a href="adminhome-worker.html" th:href="adminhome-worker">工人管理</a>
</div>
<div class="navigator-path   _requester">
<a href="adminhome-requester.html" th:href="adminhome-requester">发起者管理</a>
</div>
<div class="navigator-path  _tag">
<a href="adminhome-tag.html" th:href="adminhome-tag_collection">标注任务管理</a>
</div>
<div class="navigator-path  _admin">
<a href="adminhome-admin.html" th:href="adminhome-admin">管理员管理</a>
</div>
</div>
<div class="tittle">欢迎<a href="adminlogout">登出</a></div>
<div class="content">
<div class="chart-worker" id="chart-worker"></div>
<div class="chart-requester" id="chart-requester"></div>
<div class="chart-task" id="chart-task"></div>
<div style="width:500px;height:300px;" id="chart-accuracy" ></div>
<div style="width:500px;height:300px;" id="chart-efficiency" ></div>
<div style="width:500px;height:300px;" id="chart-credit" ></div>
</div>
</body>
</html>