<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script src="jquery-1.8.2.js" ></script>
<script src="FileSaver.js" charset="utf-8"></script>
<title>RequestCreate</title>
<h1>创建项目：</h1>
<script type="text/javascript">

function returnToRequesterHome(){
	var name=document.getElementById("nameLabel").innerHTML;
	location.href="RequesterHome?"+name;
}

function uploadPicture(){
	//读取保存图片地址的txt文本
	
	var pathTxt;//保存所有的路径
	var selectedFile=document.getElementById("files").files[0];
	
	var reader=new FileReader();
	reader.readAsText(selectedFile,'gb2312');
	
	reader.onload=function(){
		var pathInput=document.getElementById("pathInput");
		pathInput.value=this.result;
	}
	
	var typeInput=document.getElementById("typeInput");
	var typeSelect=document.getElementById("typeSelect");
	typeInput.value=typeSelect.value;
	
}

function create(){
	var question=document.getElementById("textArea").value;
	var questionInput=document.getElementById("questionInput");
	questionInput.value=question;
}



</script>
</head>
<body>

<script type="text/javascript" th:inline="javascript">
window.onload=function(){
	var str=window.location.search;
	var label=document.getElementById("nameLabel");
	//location.search是从当前URL的?号开始的字符串
	label.innerHTML=str.substring(1);
	if(str=="")label.innerHTML=/*[[${requesterID}]]*/ 00000;
	var requesterIDTemp=document.getElementById("nameLabel").innerHTML;
	var requesterIDInput=document.getElementById("requesterIDInput");
	requesterIDInput.value=requesterIDTemp;
}
</script>

<div id="requesterDiv">
<label id="nameLabel"></label>
<label>|</label>
<a href="RequesterLogin">登出</a>
<label>|</label>
<a href="ContactUs">联系我们</a>
</div>

<form name="requestForm" method="post" action="RequestCreate">
<div id="requestCreateDiv">
  <div id="nameDiv">
  <label>任务名称：</label>
  <input type="text" id="nameInput" name="name">
  <br>
  <br>
  <label>标注类型：</label>
  <select id="typeSelect">
  <option value="ClassTag">ClassTag</option>
  <option value="FrameTag">FrameTag</option>
  <option value="AreaTag">AreaTag</option>
  </select>
  <input type="text" id="typeInput" name="type" style="display:none">
  </div>
  <br>
  <div id="descriptionDiv">
  <label>任务描述：</label>
  <input type="text" id="descriptionInput" name="description">
  </div>
  <br>
  <div id="requestSetupDiv">
  <label>奖励积分/张：</label>
  <input type="number" id="pointInput" name="point">
  <label>分</label>
  <br>
  <br>
  <label>需要进行标注的人数/张：</label>
  <input type="number" id="peopleInput" name="standard">
  <label>人</label>
  <br>
  <br>
  <label>上传图片路径：</label>
  <input type="file" id="files" onchange="uploadPicture()">
  <input type="text" id="pathInput" name="path" style="display:none">
  <br>
  <br>
  <br>
  <div>
  <label>*若是分类标注，请填写问题并用","分隔</label>
  <textarea rows="3" cols="20" id="textArea"></textarea>
  <input type="text" id="questionInput" name="question" style="display:none">
  </div>
  <br>
  <input type="text" id="requesterIDInput" name="requesterID" style="display:none">
  <input type="submit" value="创建" onclick="create()">
  </div>
  
 
</div>
</form>
</body>
</html>