<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>RequesterHome</title>
<h1>欢迎加入我们！</h1>
<h2>众包标注系统</h2>

<script type="text/javascript">
function jumpToRequestCreate(){
	var name=document.getElementById("nameLabel").innerHTML;
	location.href="RequestCreate?"+name;
}
</script>
</head>

<body>
<div id="requesterDiv">
<label id="nameLabel">[[${id}]]</label>
<label>|</label>
<a href="RequesterLogin">登出</a>
<label>|</label>
<a href="ContactUs">联系我们</a>
</div>

<div id="buttonDiv">
<button onclick="jumpToRequestCreate()">创建项目</button>
<form method="post" action="RequesterHome">
<input type="submit" value="项目管理">
</form>
</div>

</body>
</html>